<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dodaj wycieczke</title>
    <th:block th:replace="fragments/header :: header-css"></th:block>

</head>
<body>
<div th:replace="fragments/header :: header"></div>

<form th:action="@{/admin/trip/add}" method="post">
    <input type="text" name="tripDestination" placeholder="Cel Podróży">
    <input type="text" name="pictureURL" placeholder="Url obrazka">
    <input type="number" name="stockAmount" placeholder="Stan magazynowy">
    <input type="number" step="0.01" name="price" placeholder="Cena">
    <select name="tripType">
        <option th:value="''" th:text="'Typ wycieczki'"></option>
        <option th:each="pt : ${tripTypes}" th:value="${pt}" th:text="${pt.type}"></option>
    </select>

    <button>Dodaj produkt</button>

</form>
<div th:replace="fragments/footer :: footer"></div>

</body>
</html>