<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add trip</title>
    <th:block th:replace="fragments/header :: header-css"></th:block>

</head>
<body>
<div th:replace="fragments/header :: header"></div>

<form th:action="@{/admin/trip/add}" method="post">
    <input type="text" name="tripDestination" placeholder="Destination">
    <input type="text" name="continent" placeholder="Continent">
    <input type="text" name="country" placeholder="Country">
    <input type="text" name="airport" placeholder="Airport">
    <input type="text" name="hotel" placeholder="Hotel">
    <input type="text" name="pictureUrl" placeholder="Picture URL">
    <input type="date" name="timeOfDeparture" placeholder="Starting Date">
    <input type="date" name="timeOfArrival" placeholder="End Date">
    <input type="number" name="numberOfDays" placeholder="Number of Days">
    <input type="number" name="stockAmount" placeholder="Stock amount">
    <input type="number" step="0.01" name="price" placeholder="Cena">
    <select name="tripType">
        <option th:value="''" th:text="'Trip Type'"></option>
        <option th:each="pt : ${tripTypes}" th:value="${pt}" th:text="${pt.type}"></option>
    </select>

    <button>Add new trip</button>

</form>
<div th:replace="fragments/footer :: footer"></div>

</body>
</html>