<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Dodawanie wycieczek</title>
    <th:block th:replace="fragments/header :: header-css"/>

</head>
<body>
<div th:replace="fragments/header :: header"></div>

<form th:action="@{/admin/addTrip}" th:object="${addNewTrip}" method="post">

    <input id="desitnation" type="text" name="tripDestination" placeholder="Cel podróży" th:field="*{tripDestination}" />
    <div class="error" th:errors="*{tripDestination}"></div>

    <input id="continent" type="text" name="continent" placeholder="Kontrynent" th:field="*{continent}" />
    <div class="error" th:errors="*{tripDestination}"></div>

    <input id="country" type="text" name="contry" placeholder="Kraj" th:field="*{country}" />
    <div class="error" th:errors="*{tripDestination}"></div>

    <input id="airport" type="text" name="airport" placeholder="Lotnisko" th:field="*{airport}" />
    <div class="error" th:errors="*{tripDestination}"></div>

    <input id="hotel" type="text" name="hotel" placeholder="Hotel" th:field="*{hotel}" autofocus/>
    <div class="error" th:errors="*{tripDestination}"></div>

    <input id="timeOfDeparture" type="text" name="timeofDeparture" placeholder="Wyjazd" th:field="*{timeOfDeparture}" />
    <div class="error" th:errors="*{tripDestination}"></div>

    <input id="timeOfArrival" type="text" name="timeOfArrival" placeholder="Powrot" th:field="*{timeOfArrival}" />
    <div class="error" th:errors="*{tripDestination}"></div>

    <input id="numberOfDays" type="text" name="numbersOfDays" placeholder="Ilość dni" th:field="*{numberOfDays}" />
    <div class="error" th:errors="*{tripDestination}"></div>

    <input id="price" type="text" name="price" placeholder="Cena" th:field="*{price}" />
    <div class="error" th:errors="*{tripDestination}"></div>

    <select name="tripType">
        <option th:value="''" th:text="'Typ wycieczki'"></option>
        <option th:each="pt : ${tripType}" th:value="${pt}" th:text="${pt.type}"></option>
    </select>

    <button>dodaj wycieczke</button>

</form>
<div th:replace="fragments/footer :: footer"></div>

</body>
</html>