<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista produktów</title>
    <th:block th:replace="fragments/header :: header-css"></th:block>

</head>
<body>
<div th:replace="fragments/header :: header"></div>

<form th:action="@{/admin/trips}">
    <input type="text" th:value="${query}" name="query">
    <select name="productType">
        <option th:value="''" th:text="Wybierz"></option>
        <option th:selected="${tripType eq pt}" th:each="pt : ${tripTypes}" th:value="${pt}"
                th:text="${pt.type}"></option>
    </select>
    <button>szukaj</button>

</form>
<table border="1px">
    <tr>
        <th>Id</th>
        <th>Cel podróży</th>
        <th>Ilość miejsc</th>
        <th>Typ wycieczki</th>
        <th>Cena</th>
        <th>Akcje</th>
    </tr>
    <tr th:each="trip : ${tripList}">
        <td th:text="${trip.id}"></td>
        <td>
            <span th:text="${trip.tripDestination}"></span>
        </td>
        <td th:text="${trip.stockAmount}"></td>
        <td th:text="${trip.tripType.getType()}"></td>
        <td th:text="${trip.price}"></td>
        <td><a th:text="Edytuj" th:href="@{/admin/trip/{id}(id=${trip.id})}"></a></td>

    </tr>
</table>
<div th:replace="fragments/footer :: footer"></div>

</body>
</html>

