<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Registration</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <th:block th:replace="fragments/header :: header-css"/>
    <link rel="stylesheet" th:href="@{/css/signin.css}"/>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<form th:action="@{/register}" th:object="${customerFormData}" method="post" class="form-signin">

    <p class="error" th:text="${userExistsException}"></p>

    <label for="name">Name:</label>
    <input id="name" type="text" th:field="*{firstName}" autofocus class="form-control"/>
    <div class="error" th:errors="*{firstName}"></div>

    <label for="surname">Surname:</label>
    <input id="surname" type="text" th:field="*{lastName}" autofocus class="form-control"/>
    <div class="error" th:errors="*{lastName}"></div>

    <label for="zipcode">Postal Code:</label>
    <input id="zipcode" type="text" th:field="*{zipCode}" autofocus class="form-control"/>
    <div class="error" th:errors="*{zipCode}"></div>

    <label for="city">Town:</label>
    <input id="city" type="text" th:field="*{city}" autofocus class="form-control"/>
    <div class="error" th:errors="*{city}"></div>

    <label for="street">Street:</label>
    <input id="street" type="text" th:field="*{street}" autofocus class="form-control"/>
    <div class="error" th:errors="*{street}"></div>

    <label for="username">E-Mail address:</label>
    <input id="username" type="text" th:field="*{email}" autofocus class="form-control"/>
    <div class="error" th:errors="*{email}"></div>

    <label for="passw">Password:</label>
    <input id="passw" type="password" th:field="*{password}" autofocus class="form-control"/>
    <div class="error" th:errors="*{password}"></div>


    <button class="btn btn-lg btn-primary btn-block" type="submit">Create Account</button>

    <div th:replace="fragments/footer :: footer"></div>
</form>


</body>
</html>