<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Trips</title>
    <th:block th:replace="fragments/header :: header-css"></th:block>
</head>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css"/>
<body>
<div th:replace="fragments/header :: header"></div>

<div class="container">
    <table id="table">
        <thead>
        <tr>
            <th class="trip_id">Id</th>
            <th>Destination</th>
            <th>Price</th>
            <th>Amount</th>
            <th>Type</th>
            <th>Action</th>
        </tr>
        </thead>
    </table>
</div>


<div th:replace="fragments/footer :: footer"></div>
<script th:inline="javascript" type="text/javascript">
    var firstRequest = [[${firstTime}]];
    var myTable = $('#table').DataTable({
        serverSide: true,
        ajax: {
            url: '/trip/tableData',
            type: 'GET',
            contentType: 'application/json; charset=utf-8',
            data: function (d) {
                function handleRequestParams() {
                    var url = new URL(window.location.href);
                    var startFromUrl = url.searchParams.get("start");
                    var start = firstRequest ? startFromUrl ? startFromUrl : 0 : d.start;
                    var lengthFromRequest = url.searchParams.get("length");
                    var length = firstRequest ? lengthFromRequest ? lengthFromRequest : 5 : d.length;
                    var sortColumnFromRequest = url.searchParams.get("sortColumn");
                    var sortColumn = firstRequest ? sortColumnFromRequest ? sortColumnFromRequest : "id" : d.columns[d.order[0].column].name;
                    var sortOrderFromRequest = url.searchParams.get("sortOrder");
                    var sortDirection = firstRequest ? sortOrderFromRequest ? sortOrderFromRequest : "asc" : d.order[0].dir;
                    var searchTextFromUrl = url.searchParams.get("searchText");
                    var searchText = firstRequest ? searchTextFromUrl ? searchTextFromUrl : '' : d.search.value;
                    var s = "start=" + start + "&" +
                        "length=" + length + "&" +
                        "sortColumn=" + sortColumn + "&" +
                        "sortOrder=" + sortDirection + "&" +
                        "searchText=" + searchText;
                    window.history.replaceState('', '', window.location.href.split('?')[0] + "?" + s);
                    firstRequest = false;
                    $(":input[type=search]").val(searchText);
                    return s;
                }

                return handleRequestParams();
            }
        },
        columns: [
            {
                name: 'id',
                id: 'id',
                data: 'id'
            }
            , {
                name: 'tripDestination',
                data: 'tripDestination'
            }
            ,
            {
                name: 'price',
                data: 'price'
            },
            {
                name: 'stockAmount',
                data: 'stockAmount'
            },
            {
                name: 'tripType',
                data: 'tripType'
            },
            {
                name: 'action',
                data: null,
                defaultContent: "<button>Add to cart</button>"
            }
        ],
        processing: true,
        order: [0, 'asc'],
        lengthMenu: [5, 10, 20, 50, 100],
        language: {
            "processing": "Processing...",
            "search": "Search:",
            "lengthMenu": "Show _MENU_ position",
            "info": "Position from _START_ to _END_ & _TOTAL_ total",
            "infoEmpty": "Position 0 out of 0 available",
            "infoFiltered": "(filtering fromm _MAX_ available positions)",
            "infoPostFix": "",
            "loadingRecords": "Loading...",
            "zeroRecords": "No match found",
            "emptyTable": "No data",
            "paginate": {
                "first": "First",
                "previous": "Previous",
                "next": "Next",
                "last": "Last"
            },
            "aria": {
                "sortAscending": ": activate, to sort ascending",
                "sortDescending": ": activate, to sort descending"
            }

        }
    });
    $('#table tbody').on('click', 'button', function () {
        var id = myTable.row($(this).parents('tr')).data().id;
        addToCart(id);
    });


</script>
</body>
</html>